* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body {
    background: #f5f7fa;
}

/* CABEÇALHO */
.topo {
    display: flex;
    align-items: center;
    padding: 16px;
    gap: 16px;
}

.btn-voltar img {
    width: 22px;
}

.logo {
    width: 90px;
    margin-left: auto;
    margin-right: auto;
}

/* BANNER */
.banner {
    padding: 10px;
    text-align: center;
}

.banner-img {
    width: 100%;
    border-radius: 12px;
}

.msg-vazio {
    margin-top: 8px;
    color: #0d1e5b;
    font-weight: 600;
}

/* RECOMENDAÇÕES */
.recomendacoes {
    padding: 16px;
}

h2 {
    font-size: 16px;
    margin-bottom: 12px;
}

.grid-produtos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 14px;
}

/* CARD PRODUTO */
.card {
    background: #ffffff;
    padding: 12px;
    border-radius: 12px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.08);
    position: relative;
}

.badge {
    position: absolute;
    top: 8px;
    left: 8px;
    background: #00c853;
    color: white;
    font-size: 10px;
    padding: 2px 6px;
    border-radius: 6px;
}

.produto-img {
    width: 100%;
    margin-top: 14px;
}

.produto-nome {
    font-size: 13px;
    margin-top: 6px;
}

.produto-preco {
    font-size: 15px;
    font-weight: bold;
    color: #1b3fa8;
}

/* ÍCONES DE AÇÃO */
.acoes {
    display: flex;
    gap: 12px;
    margin-top: 6px;
}

.icone {
    width: 20px;
    cursor: pointer;
}

/* RODAPÉ */
footer {
    text-align: center;
    margin-top: 30px;
    padding: 20px;
}

.logo-footer {
    width: 110px;
}

.slogan {
    font-size: 12px;
    color: #1b3fa8;
}
.btn-voltar {
  border: 0;
  background: transparent;
  padding: 6px;
  cursor: pointer;
}

.btn-voltar img {
  width: 22px;
  height: 22px;
}
